In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)
#import dua modul penting

1.2.4
1.20.1

In [3]:
pd.DataFrame({'col1':[1, 2, 3, 4],
              'col2':[5, 6, 7, 8]})
#data frame akan berisi data dari dua kolom tersebut yaitu col1: 1,2,3,4 dan col2: 5,6,7,8

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [4]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr
#ukuran row/baris 5, colomns/kolom 3
#data yang dihasilkan data angka yang random atau acak

array([[13,  1, 17],
       [14, 10,  2],
       [ 7, 17,  7],
       [ 7, 17, 12],
       [11,  6,  4]])

In [5]:
pd.DataFrame(arr, columns=tuple('ABC'))
#akan menyertakkan label di tiap kolom dengan menerapakan fungsi tuple ABC untuk mendapatkan nilai string

    A   B   C
0  13   1  17
1  14  10   2
2   7  17   7
3   7  17  12
4  11   6   4

In [6]:
pd.util.testing.makeDataFrame().head()
#make data frame akan membuat data sederhana

C:\Users\User\anaconda3\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
fN2wuzzOWE -1.090909 -2.602228 -1.814816 -1.057181
Mj3E4EJ3PO  1.161068 -0.490008  0.727759  1.717512
N29aYjsLyK  0.332998  0.303149  0.953291  1.010280
ZUnzwYBztA  0.137095 -0.847424  0.719815  0.773320
Jp5tgMpUYh -0.891706 -1.499209 -1.745864 -0.327380

In [7]:
pd.util.testing.makeMixedDataFrame().head()
#make MIxed Data Frame, tipe data campur dan bervariasi

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [8]:
pd.util.testing.makeTimeDataFrame().head()
# Time data Frame, data frame berisi data deret waktu dari tabel berikut

                   A         B         C         D
2000-01-03  0.754769 -1.200436  1.418087  0.866744
2000-01-04 -0.017078 -0.277166 -1.808387  0.315954
2000-01-05  1.424787 -0.522519  1.032121 -0.054864
2000-01-06 -1.089257 -0.122229 -1.551267  0.064861
2000-01-07  0.523074 -0.214705  0.215492 -0.736497

In [10]:
pd.util.testing.makeMissingDataframe().head()
#make Missing data frame, data missing value yang ditetapkan secara acak dengan cara memanggil menggunakan make missing data frame

                   A         B         C         D
NnKoJ3LYyF -0.068013  0.081773  0.858546 -0.446405
UL1LvoeiZr       NaN -0.431805 -1.390548  0.126304
bcByzXx5Jg  0.173721  0.309644       NaN -0.236571
3QMx4Dyb91 -1.244606 -0.440618  0.182087  1.465865
Hqpfd0uGJa  0.638489  0.532322  0.257688 -0.939044